<launch>
  <node pkg="rostopic" type="rostopic" name="rostopic" args="pub /startSimulation std_msgs/Bool '{data: True}'"/>
  <node pkg="ss_terrain_nav" type="navigate" name="navigate"/>
  <node pkg="ss_terrain_nav" type="explore" name="explore" output="screen"/>
  <node pkg="rosbag" type="record" args="-o $(find ss_terrain_nav)/bagFiles/ /accelerationVec /camera/color/image /camera/depth/points /global_points /tf /stopSimulation /startSimulation --duration=30m" name="rosbag"/>
</launch>
